.post__Button {
  background: #0ed2f7;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  font-size: 15px;
  width: 125px;
  float: right;
}

.post-caption-box.form-control {
  width: 750px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f3f3f3;
  resize: none;
}

#photo {
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
}

.user-contents.post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption-icon {
  margin-left: 5px;
}
