.button3 {
  background: #0ed2f7;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  width: 180px;
  margin-left: 10px;
}

.user-contents.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}
