.user-home {
  height: 80vh;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.user-container {
  margin-top: 20px;
  flex: 1;
  overflow: hidden;
}

.user-contents {
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3)
  );
  border-radius: 1.5rem;
  overflow-y: scroll;
}

.user__identity {
  font-family: "Open Sans", "sans-serif";
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand__icon {
  font-size: 25px;
}

.expand-icon-link {
  color: white;
}

.like-page-link {
  font-size: 18px;
  color: white;
  padding: 5px;
  width: 90px;
  background-color: #0ed2f7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  margin-top: 10px;
}

.profile__likesIcon {
  margin-right: 5px;
}

.user-contents.no__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
