/* .user-contents > Form.Control {
  display: inline-flex;
  width: 500px;
} */

.form-group.search {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.form-control.search {
  margin: initial;
  position: relative;
  left: 0;
}
.search__Button {
  background: #0ed2f7;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  width: 125px;
  position: relative;
  float: right;
}

h3 {
  margin-left: 5px;
}
h4 {
  margin-left: 10px;
}

.search__container {
  width: ;
}

.search-button-icon {
  margin-right: 5px;
}

.search-results {
  padding: 5px;
  padding-top: 0;
}

.add__friend,
.delete__friend,
.undo__req,
.accept__req,
.reject__req {
  margin-right: 5px;
}

.add__friendBtn,
.unfriend__Btn,
.undoReq__Btn,
.acceptReq__Btn,
.rejectReq__Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Open Sans", "sans-serif";
  background: #0ed2f7;
  border: none;
  border-radius: 15px;
}
