.user-contents > Form.Control{
    display:inline-flex;
    width: 500px;
}

.form-group{
    margin-left: 25px;
}

.form-control{
    margin:initial;
    position:relative;
    left:0;
}
.button2
{
background: #0ed2f7;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Open Sans", "sans-serif";
  width: 125px;
  position: relative;
  float: right;
}

h3 {
    margin-left: 5px;
}
h4{
    margin-left: 10px;
}

.search__container{
    width: 50%;
}