.userScreen {
  height: 80vh;
  width: 75%;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.7),
    rgb(255, 255, 255, 0.3)
  );
  border-radius: 1.5rem;
  display: flex;
}
