<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Backend</h1>
    <p>Welcome to the <%= title %> Backend!</p>
    <p>Please run the frontend along with this backend to access and use the data submit sheet</p>
  </body>
</html>
